.App {
  text-align: center;
}
button {
  cursor: pointer;
}
.main-todo {
  width: 25%;
  margin: 30px auto;
}
.todo-box {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  padding: 16px;
  margin-bottom: 10px;
}
.todo-box .left {
  width: 60%;
  text-align: justify;
}
.todo-box .right {
  width: 40%;
}
.todo-box .right button {
  cursor: pointer;
  margin: 0 3px;
}